<h1>Product</h1>

<table>
  {{#each model.attributes}}
  <tr>
    <td>
      <strong>{{this.key}}:</strong>
    </td>
    <td>
      {{this.value}}
    </td>
  </tr>
  {{/each}}
</table>

{{#link-to 'product.edit' model class="product-edit"}}Change{{/link-to}}

{{outlet}}
