<div class="panel panel-default">
	<div class="panel-body">
		<div class="input-wrapper" {{bind-attr class="validationState::input-wrapper-error"}}>
		{{input value=name class="form-control product-name input-item" placeholder="Name of product"}}
		</div>

		{{input value=price class="form-control product-price input-item" placeholder="Price"}}

		{{input value=amount class="form-control product-amount input-item" placeholder="Amount"}}
	</div>
</div>