<div class="nav-item">
	{{#link-to 'products.create' class=" btn btn-default btn-lg btn-block" }}Add new product{{/link-to}}
</div>

<div class="nav-item">
	{{#link-to 'products' class="btn btn-default btn-lg btn-block"}}List products{{/link-to}}
</div>